/build*/
/install*/
*.swp
/uberenv_libs*
/spack*
/src/docs/doxygen/html/
/src/docs/doxygen/xml/
/src/docs/sphinx/_build/
/src/docs/_build
/*.cmake
.vscode/
serac_input.json
/tests/integration/*/*_0000*
