##############################################################################
# Copyright (c) 2019-2024, Lawrence Livermore National Security, LLC and Serac
# project contributors. See the LICENSE file for details.
##############################################################################

variables:
  #TODO: uncomment this when everyone has service user access across all the machines
  #LLNL_SERVICE_USER: asmith
  GIT_SUBMODULE_STRATEGY: recursive
  PROJECT_ALLOC_NAME: ${CI_PROJECT_NAME}_ci_${CI_PIPELINE_ID}
  BUILD_ROOT: ${CI_PROJECT_DIR}
  FULL_BUILD_ROOT: ${CI_BUILDS_DIR}/serac/${CI_JOB_NAME}
  ALLOC_BANK: eng

# Whether and how to update uberenv
.run_update_uberenv: &run_update_uberenv |
  [[ -n "${UPDATE_UBERENV}" ]] && ./scripts/gitlab/update-uberenv.sh "${UPDATE_UBERENV}"

.src_workflow:
  rules:
    - if: '$FULL_BUILD != "ON"'

.full_workflow:
  rules:
    - if: '$FULL_BUILD == "ON"'

####
# Templates
.src_build_script:
  script:
    # Build source, run unit tests, and test install examples. Conditionally run
    # integration tests
    - echo -e "section_start:$(date +%s):src_build_and_unit_test\r\e[0K
      Source Build and Unit Tests ${CI_PROJECT_NAME}"
    - ./scripts/gitlab/build_and_test.sh
    - echo -e "section_end:$(date +%s):src_build_and_unit_test\r\e[0K"
  artifacts:
    expire_in: 2 weeks
    when: always
    paths:
      - _serac_build_and_test_*/output.log*.txt
      - _serac_build_and_test_*/build-*/output.log*.txt
      - _serac_build_and_test_*/build-*/*.*.logs/*.log
      - _serac_build_and_test_*/build-*/*.*.logs/*.err
    reports:
      junit:
      - _serac_build_and_test_*/build-*/junit.xml
      - _serac_build_and_test_*/build-*/*.*.logs/atsr.xml

.full_build_script:
  script:
    - *run_update_uberenv
    # Build TPLs, src, and run unit tests
    - echo -e "section_start:$(date +%s):full_build_and_unit_test\r\e[0K
      Full Build and Unit Test ${CI_PROJECT_NAME}"
    - ${ALLOC_COMMAND} python3 scripts/llnl/build_tpls.py -v ${SPEC} --directory=${FULL_BUILD_ROOT} --short-path
    - echo -e "section_end:$(date +%s):full_build_and_unit_test\r\e[0K"
  artifacts:
    expire_in: 2 weeks
    when: always
    paths:
      - ${FULL_BUILD_ROOT}/${SYS_TYPE}/*/output.log*.txt
      - ${FULL_BUILD_ROOT}/${SYS_TYPE}/*/_serac_build_and_test_*/output.log*.txt
      - ${FULL_BUILD_ROOT}/${SYS_TYPE}/*/_serac_build_and_test_*/build-*/output.log*.txt
    reports:
      junit: ${FULL_BUILD_ROOT}/${SYS_TYPE}/*/_serac_build_and_test_*/build-*/junit.xml

# This is where jobs are included for each system
include:
  - local: .gitlab/build_blueos.yml
  - local: .gitlab/build_toss4.yml
  - project: 'lc-templates/id_tokens'
    file: 'id_tokens.yml'
