# Enforce LF (Unix) line endings for all text files

# Source code
*.cpp text eol=lf
*.hpp text eol=lf

# Plain or formatted text
*.md text eol=lf
*.rst text eol=lf
*.txt text eol=lf

# Scripts
*.py text eol=lf
*.sh text eol=lf

# Configuration
*.cmake text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
