##############################################################################
# Copyright (c) 2019-2022, Lawrence Livermore National Security, LLC and Serac
# project contributors. See the LICENSE file for details.
##############################################################################

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  PROJECT_ALLOC_NAME: ${CI_PROJECT_NAME}_ci_${CI_PIPELINE_ID}
  BUILD_ROOT: ${CI_PROJECT_DIR}
  FULL_BUILD_ROOT: ${CI_BUILDS_DIR}/serac/${CI_JOB_NAME}
  ALLOC_BANK: eng

stages:
  - build
  - test

# Whether and how to update uberenv
.run_update_uberenv: &run_update_uberenv |
  [[ -n "${UPDATE_UBERENV}" ]] && ./scripts/gitlab/update-uberenv.sh "${UPDATE_UBERENV}"

.src_workflow:
  rules:
    - if: '$FULL_BUILD != "ON"'

.full_workflow:
  rules:
    - if: '$FULL_BUILD == "ON"'

####
# Templates
.src_build_script:
  script:
    # Build src and run unit tests
    - echo -e "section_start:$(date +%s):src_build_and_unit_test\r\e[0K
      Source Build and Unit Tests ${CI_PROJECT_NAME}"
    - ${ALLOC_COMMAND} python3 scripts/llnl/build_src.py -v --host-config ${HOST_CONFIG} ${EXTRA_BUILD_OPTIONS}
    - echo -e "section_end:$(date +%s):src_build_and_unit_test\r\e[0K"
  artifacts:
    paths:
      - _serac_build_and_test_*/output.log*.txt
      - _serac_build_and_test_*/build-*/output.log*.txt
    reports:
      junit: _serac_build_and_test_*/build-*/junit.xml

.integration_tests_script:
  script:
    # Run integration tests
    - echo -e "section_start:$(date +%s):src_integration_test\r\e[0K
      Source Run Integration Tests ${CI_PROJECT_NAME}"
    - cd ${BUILD_DIRECTORY}
    - ${ALLOC_COMMAND} ./ats.sh
    - echo -e "section_end:$(date +%s):src_integration_test\r\e[0K"
  artifacts:
    paths:
      - _serac_build_and_test_*/build-*/*.*.logs/*.log
      - _serac_build_and_test_*/build-*/*.*.logs/*.err
    reports:
      junit: _serac_build_and_test_*/build-*/*.*.logs/atsr.xml

.full_build_script:
  script:
    - *run_update_uberenv
    # Build TPLs, src, and run unit tests
    - echo -e "section_start:$(date +%s):full_build_and_unit_test\r\e[0K
      Full Build and Unit Test ${CI_PROJECT_NAME}"
    - ${ALLOC_COMMAND} python3 scripts/llnl/build_tpls.py -v ${SPEC} --directory=${FULL_BUILD_ROOT} --short-path
    - echo -e "section_end:$(date +%s):full_build_and_unit_test\r\e[0K"
  artifacts:
    paths:
      - ${FULL_BUILD_ROOT}/${SYS_TYPE}/*/_serac_build_and_test_*/output.log*.txt
      - ${FULL_BUILD_ROOT}/${SYS_TYPE}/*/_serac_build_and_test_*/build-*/output.log*.txt
    reports:
      junit: ${FULL_BUILD_ROOT}/${SYS_TYPE}/*/_serac_build_and_test_*/build-*/junit.xml

# This is where jobs are included for each machine
include:
  - local: .gitlab/build_quartz.yml
  - local: .gitlab/build_lassen.yml
