/build*/
/install*/
*.swp
*.code-workspace
/uberenv_libs*
/spack*
/src/docs/doxygen/html/
/src/docs/doxygen/xml/
/src/docs/sphinx/_build/
/src/docs/_build
/*.cmake
.vscode/
*.orig
__pycache__/
view
/_serac_build_and_test*
build-linux-*-*-*
