[submodule "cmake/blt"]
	path = cmake/blt
	url = https://github.com/LLNL/blt.git
[submodule "scripts/uberenv"]
	path = scripts/uberenv
	url = https://github.com/LLNL/uberenv.git
[submodule "axom"]
	path = axom
	url = https://github.com/LLNL/axom.git
[submodule "mfem"]
	path = mfem
	url = https://github.com/white238/mfem.git
