##############################################################################
# Copyright (c) 2019-2020, Lawrence Livermore National Security, LLC and Serac
# project contributors. See the LICENSE file for details.
##############################################################################

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  PROJECT_ALLOC_NAME: ${CI_PROJECT_NAME}_ci_${CI_PIPELINE_ID}
  BUILD_ROOT: ${CI_PROJECT_DIR}
  SLURM_ACCOUNT: -p pdebug -A eng
  LSF_ACCOUNT: -q pdebug -G eng

# There are no tests for now
stages:
  - l_build
  - l_build_with_deps
  - q_allocate_resources
  - q_build
  - q_build_with_deps
  - q_build_devtools
  - q_release_resources

# Whether and how to update uberenv
.run_update_uberenv: &run_update_uberenv |
  [[ -n "${UPDATE_UBERENV}" ]] && ./scripts/gitlab/update-uberenv.sh "${UPDATE_UBERENV}"

.pr_workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH != "main" && $CI_COMMIT_BRANCH != "develop" && $BUILD_DEPS != "ON"' #run only if ...

.main_workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" || $BUILD_DEPS == "ON"' #run only if ...

####
# Template
.srun_build_script:
  script:
    #Use pre-existing allocation if any
    - JOBID=$(squeue -h --name=${PROJECT_ALLOC_NAME} --format=%A)
    - ASSIGN_ID=$(if [[ -n "${JOBID}" ]]; then echo "--jobid=${JOBID}"; fi)
    - EXEC_PREFIX="srun ${SLURM_ACCOUNT} ${ASSIGN_ID}"
   #BUILD + TEST
    - RESOURCES="-t 10 -N 1"
    - echo -e "section_start:$(date +%s):build_and_test\r\e[0K
      Build and test ${CI_PROJECT_NAME}"
    - ${EXEC_PREFIX} ${RESOURCES} scripts/llnl/build_src.py --host-config ${HOST_CONFIG}
    - echo -e "section_end:$(date +%s):build_and_test\r\e[0K"

.srun_build_with_deps_script:
  script:
    - *run_update_uberenv
    - EXEC_PREFIX="srun ${SLURM_ACCOUNT}"
    #DEPENDENCIES
    - RESOURCES="-t 30 -N 1"
    - echo -e "section_start:$(date +%s):dependencies\r\e[0K
      Build dependencies and generate host-config file (uberenv)"
    - ${EXEC_PREFIX} ${RESOURCES} scripts/llnl/build_tpls.py --spec=${SPEC} --directory=${CI_PROJECT_NAME}
    - echo -e "section_end:$(date +%s):dependencies\r\e[0K"
    #BUILD + TEST
    - RESOURCES="-t 10 -N 1"
    - echo -e "section_start:$(date +%s):build_and_test\r\e[0K
      Build and test ${CI_PROJECT_NAME}"
    - ${EXEC_PREFIX} ${RESOURCES} scripts/llnl/build_src.py
    - echo -e "section_end:$(date +%s):build_and_test\r\e[0K"

.srun_build_devtools_script:
  script:
    - *run_update_uberenv
    - EXEC_PREFIX="srun ${SLURM_ACCOUNT}"
    - RESOURCES="-t 30 -N 1"
    - echo -e "section_start:$(date +%s):devtools\r\e[0K
      Build devtools"
    - ${EXEC_PREFIX} ${RESOURCES} scripts/llnl/build_devtools.py --directory=${CI_PROJECT_NAME}
    - echo -e "section_end:$(date +%s):devtools\r\e[0K"


.build_blueos_3_ppc64le_ib_p9_script:
  script:
    #BUILD + TEST
    - echo -e "section_start:$(date +%s):build_and_test\r\e[0K
      Build and test ${CI_PROJECT_NAME}"
    - lalloc 1 -W 10 ${LSF_ACCOUNT} scripts/llnl/build_src.py --host-config ${HOST_CONFIG}
    - echo -e "section_end:$(date +%s):build_and_test\r\e[0K"

.build_with_deps_blueos_3_ppc64le_ib_p9_script:
  script:
    - *run_update_uberenv
    #DEPENDENCIES
    - echo -e "section_start:$(date +%s):dependencies\r\e[0K
      Build dependencies and generate host-config file (uberenv)"
    - lalloc 1 -W 20 ${LSF_ACCOUNT} scripts/llnl/build_tpls.py --spec="${SPEC} ${EXTRA_SPEC}" --directory=${CI_PROJECT_NAME}
    - echo -e "section_end:$(date +%s):dependencies\r\e[0K"
    #BUILD + TEST
    - echo -e "section_start:$(date +%s):build_and_test\r\e[0K
      Build and test ${CI_PROJECT_NAME}"
    - lalloc 1 -W 10 ${LSF_ACCOUNT} scripts/llnl/build_src.py --host-config ${HOST_CONFIG}
    - echo -e "section_end:$(date +%s):build_and_test\r\e[0K"

# This is where jobs are included
include:
  - local: .gitlab/build_quartz.yml
  - local: .gitlab/build_lassen.yml
