#
# Copyright (c) 2019-2024, Lawrence Livermore National Security, LLC and
# other Serac Project Developers. See the top-level COPYRIGHT file for details.
#
# SPDX-License-Identifier: (BSD-3-Clause)
#

variables:
  Clang_14_ImageName: 'seracllnl/tpls:clang-14_08-15-24_21h-49m'
  GCC_13_ImageName: 'seracllnl/tpls:gcc-13_08-15-24_21h-49m'
  CUDA_12_ImageName: 'seracllnl/tpls:cuda-12_08-15-24_21h-49m'

jobs:
- job: Build_and_Test
  strategy:
    matrix:
      # Skipping running unit tests on CUDA, since the Azure VMs we use do not contain GPUs
      linux_cuda12_debug:
          VM_ImageName: 'ubuntu-22.04'
          Compiler_ImageName: $(CUDA_12_ImageName)
          TEST_TARGET: 'linux_cuda12'
          HOST_CONFIG: 'gcc@12.3.0_cuda.cmake'
          BUILD_TYPE: 'Debug'
          CMAKE_OPTS: '-DBUILD_SHARED_LIBS=ON -DENABLE_WARNINGS_AS_ERRORS=OFF'
          BUILD_SRC_OPTS: '--skip-install --skip-tests'
      linux_cuda12_release:
          VM_ImageName: 'ubuntu-22.04'
          Compiler_ImageName: $(CUDA_12_ImageName)
          TEST_TARGET: 'linux_cuda12'
          HOST_CONFIG: 'gcc@12.3.0_cuda.cmake'
          BUILD_TYPE: 'Release'
          CMAKE_OPTS: '-DBUILD_SHARED_LIBS=ON -DENABLE_WARNINGS_AS_ERRORS=OFF'
          BUILD_SRC_OPTS: '--skip-install --skip-tests'
      linux_gcc13_debug:
          VM_ImageName: 'ubuntu-22.04'
          Compiler_ImageName: $(GCC_13_ImageName)
          TEST_TARGET: 'linux_gcc13'
          HOST_CONFIG: 'gcc@13.1.0.cmake'
          BUILD_TYPE: 'Debug'
          CMAKE_OPTS: '-DBUILD_SHARED_LIBS=ON'
      linux_gcc13_release:
          VM_ImageName: 'ubuntu-22.04'
          Compiler_ImageName: $(GCC_13_ImageName)
          TEST_TARGET: 'linux_gcc13'
          HOST_CONFIG: 'gcc@13.1.0.cmake'
          BUILD_TYPE: 'Release'
          # gcc@13 + Release hangs in solid_mechanics when > -O2
          CMAKE_OPTS: '-DBUILD_SHARED_LIBS=ON -DCMAKE_CXX_FLAGS_RELEASE=-O2'
      linux_clang14_debug:
          VM_ImageName: 'ubuntu-22.04'
          Compiler_ImageName: $(Clang_14_ImageName)
          TEST_TARGET: 'linux_clang14'
          HOST_CONFIG: 'clang@14.0.0.cmake'
          BUILD_TYPE: 'Debug'
          CMAKE_OPTS: '-DBUILD_SHARED_LIBS=ON'
      linux_clang14_release:
          VM_ImageName: 'ubuntu-22.04'
          Compiler_ImageName: $(Clang_14_ImageName)
          TEST_TARGET: 'linux_clang14'
          HOST_CONFIG: 'clang@14.0.0.cmake'
          BUILD_TYPE: 'Release'
          CMAKE_OPTS: '-DBUILD_SHARED_LIBS=ON'
      linux_clang14_codevelop:
          VM_ImageName: 'ubuntu-22.04'
          Compiler_ImageName: $(Clang_14_ImageName)
          TEST_TARGET: 'linux_clang14'
          HOST_CONFIG: 'clang@14.0.0.cmake'
          BUILD_TYPE: 'Debug'
          CMAKE_OPTS: '-DSERAC_ENABLE_CODEVELOP=ON'
          BUILD_SRC_OPTS: '--skip-install'

  pool:
    vmImage: $(VM_ImageName)

  steps:
  - checkout: self
    clean: true
    submodules: recursive
  - script:  |
      echo " -e $TEST_TARGET -e HOST_CONFIG $(Compiler_ImageName) ./scripts/llnl/build_src.py $BUILD_SRC_OPTS -v --host-config $HOST_CONFIG --extra-cmake-options \"${CMAKE_OPTS} -DCMAKE_BUILD_TYPE=$BUILD_TYPE\""
      docker run --rm -v `pwd`:/home/serac/serac -e TEST_TARGET -e HOST_CONFIG $(Compiler_ImageName) ./serac/scripts/llnl/build_src.py $BUILD_SRC_OPTS -v --host-config $HOST_CONFIG --extra-cmake-options "${CMAKE_OPTS} -DCMAKE_BUILD_TYPE=$BUILD_TYPE" --jobs 4

    displayName: '$(TEST_TARGET) Build & Test'
  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'cTest'
      testResultsFiles: '**/Test.xml'
      testRunTitle: '$(TEST_TARGET) Tests'
      failTaskOnFailedTests: true

- job: Check_Code
  variables:
    VM_ImageName: 'ubuntu-22.04'
    Compiler_ImageName: $(Clang_14_ImageName)
    TEST_TARGET: 'linux_clang14'
    HOST_CONFIG: 'clang@14.0.0.cmake'

  strategy:
    matrix:
      coverage:
        DO_COVERAGE_CHECK: 'yes'
        DO_DOCS_CHECK: 'no'
        DO_STYLE_CHECK: 'no'
        DO_HEADER_CHECK: 'no'
      docs:
        DO_COVERAGE_CHECK: 'no'
        DO_DOCS_CHECK: 'yes'
        DO_STYLE_CHECK: 'no'
        DO_HEADER_CHECK: 'no'
      style:
        DO_COVERAGE_CHECK: 'no'
        DO_DOCS_CHECK: 'no'
        DO_STYLE_CHECK: 'yes'
        DO_HEADER_CHECK: 'no'
      header:
        DO_COVERAGE_CHECK: 'no'
        DO_DOCS_CHECK: 'no'
        DO_STYLE_CHECK: 'no'
        DO_HEADER_CHECK: 'yes'

  pool:
    vmImage: $(VM_ImageName)

  steps:
  - checkout: self
    clean: true
    submodules: recursive
  # https://docs.codecov.io/docs/testing-with-docker
  - script:  |
      ci_env=`bash <(curl -s https://codecov.io/env)`
      echo "  -e DO_COVERAGE_CHECK  -e DO_DOCS_CHECK -e DO_STYLE_CHECK -e DO_HEADER_CHECK -e HOST_CONFIG ./serac/scripts/azure-pipelines/linux-check.sh"
      docker run --rm -v `pwd`:/home/serac/serac $ci_env -e DO_COVERAGE_CHECK  -e DO_DOCS_CHECK -e DO_STYLE_CHECK -e DO_HEADER_CHECK -e HOST_CONFIG $(Compiler_ImageName) ./serac/scripts/azure-pipelines/linux-check.sh
    displayName: '$(TEST_TARGET) Check'
