#
# Copyright (c) 2019-2021, Lawrence Livermore National Security, LLC and
# other Serac Project Developers. See the top-level COPYRIGHT file for details.
#
# SPDX-License-Identifier: (BSD-3-Clause)
#
jobs:
- job: Build_and_Test
  strategy:
    matrix:
      linux_gcc8:
          VM_ImageName: 'ubuntu-16.04'
          Compiler_ImageName: 'seracllnl/tpls:gcc-8_06-10-21_16h-59m'
          TEST_TARGET: 'linux_gcc8'
          HOST_CONFIG: 'docker-linux-ubuntu16.04-ivybridge-gcc@8.1.0.cmake'
      linux_clang10:
          VM_ImageName: 'ubuntu-18.04'
          Compiler_ImageName: 'seracllnl/tpls:clang-10_06-10-21_06h-15m'
          TEST_TARGET: 'linux_clang10'
          HOST_CONFIG: 'docker-linux-ubuntu18.04-ivybridge-clang@10.0.0.cmake'

  pool:
    vmImage: $(VM_ImageName)

  steps:
  - checkout: self
    clean: true
    submodules: recursive
  - script:  |
      echo " -e $TEST_TARGET -e HOST_CONFIG $(Compiler_ImageName) ./scripts/llnl/build_src.py -v --host-config $HOST_CONFIG"
      docker run --rm -v `pwd`:/home/serac/serac -e TEST_TARGET -e HOST_CONFIG $(Compiler_ImageName) ./serac/scripts/llnl/build_src.py -v --host-config $HOST_CONFIG

    displayName: '$(TEST_TARGET) Build & Test'
  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'cTest'
      testResultsFiles: '**/Test.xml'
      testRunTitle: '$(TEST_TARGET) Tests'
      failTaskOnFailedTests: true

- job: Check_Code
  variables:
    VM_ImageName: 'ubuntu-18.04'
    Compiler_ImageName: 'seracllnl/tpls:clang-10_05-04-21_15h-09m'
    TEST_TARGET: 'linux_clang10'
    HOST_CONFIG: 'docker-linux-ubuntu18.04-ivybridge-clang@10.0.0'

  strategy:
    matrix:
      style:
        DO_STYLE_CHECK: 'yes'
        DO_COVERAGE_CHECK: 'no'
      coverage:
        DO_STYLE_CHECK: 'no'
        DO_COVERAGE_CHECK: 'yes'

  pool:
    vmImage: $(VM_ImageName)

  steps:
  - checkout: self
    clean: true
    submodules: recursive
  # https://docs.codecov.io/docs/testing-with-docker
  - script:  |
      ci_env=`bash <(curl -s https://codecov.io/env)`
      echo " -e $TEST_TARGET -e $COMPILER -e $DO_STYLE_CHECK -e $DO_COVERAGE_CHECK -e $CMAKE_EXTRA_FLAGS $(Compiler_ImageName) ./scripts/azure-pipelines/linux-check.sh"
      docker run --rm -v `pwd`:/home/serac/serac $ci_env -e TEST_TARGET -e DO_STYLE_CHECK -e DO_COVERAGE_CHECK -e HOST_CONFIG $(Compiler_ImageName) ./serac/scripts/azure-pipelines/linux-check.sh
    displayName: '$(TEST_TARGET) Style Check'
